.filterPanel {
  border: 2px solid #2e3192;
  border-radius: 21px;
  background-color: white;
  font-family: Nunito;
  color: #2e3192;
  margin: 16px;
  padding: 6px 16px;
  font-weight: 600;
}

.filterHeader {
  font-size: 29px;
  min-height: 42px;
  padding: 8px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.filterSectionContainer {
  display: flex;
  flex-direction: column;
}

.filterSectionSubtitle{
  font-size: 24px;
  color: #2e3192;
  padding: 6px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;

}

.filterItemsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.optionButton {
  background: white;
	color: #4585bf;
	border: none;
	background: none;
  border: solid 1px #4585bf;
  border-radius: 20px;
  font-size: 16px;
	cursor: pointer;
  outline: inherit;
  padding: 16px;
  max-width: 140px;
  margin: 8px;

  &.need {
    background-color: #fcd432;
    color: #2e3192;
  }

  &.supportType, &.personalisation {
    color: white
  }

  &.supportType {
    background-color: #c974ff;
  }

  &.personalisation {
    background-color:#4ecfff;
  }
  
}

.filterButton {
  border: none;
  background: none;
  font-size: 42px;
  outline: none;
}

.clearAllButton {
  width: 160px;
  height: 40px;
  color: #4585bf;
	border: none;
	background: none;
  border: solid 2px #4585bf;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

}

.closeIcon {
  font-size: 24px;
}