@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://use.typekit.net/sfj2qxn.css");

.results-react-button-icon {
  vertical-align: middle;
  padding-bottom: 3px;
  font-size: 17px;
}
.results-react-icons-detail {
  vertical-align: middle;
  padding-bottom: 3px;
  color: #2e3192;
}
.navbar-container {
  box-sizing: border-box;
  height: 110px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  
}
.navbar-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar-logo {
  height: 50px;
}
.help-button {
  font-family: "clone-rounded-latin", sans-serif;
  color: #2e3192;
  text-align: center;
  padding: 7px 13px 11px 14px;
  border-radius: 26.5px;
  border: solid 2px #2e3192;
  background-color: transparent;
  font-size: 24px;
  letter-spacing: 0.64px;
  width: 125px;
  height: 53px;
  justify-self: right;
  cursor: pointer;
}
.question-one-container {
  background-image: url(../assets/bg1.png);
  margin: 0;
  min-height: 100vh;
  padding: 15px 0px 75px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question-two-container {
  background-image: url(../assets/bg2.png);
  margin: 0;
  min-height: 100vh;
  padding: 15px 0px 75px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question-three-container {
  background-image: url(../assets/bg3.png);
  margin: 0;
  min-height: 100vh;
  padding: 15px 0px 75px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.question-four-container {
  background-image: url(../assets/bg4.png);
  margin: 0;
  min-height: 100vh;
  padding: 15px 0px 75px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.results-page-container {
  background-image: url(../assets/bg1.png);
  margin: 0;
  min-height: 100vh;
  padding: 15px 0px 75px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.results-wrapper {
  margin-top: 85px;
}

.question-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
}

.question-title {
  font-family: "clone-rounded-latin", sans-serif;
  font-size: 57px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.27px;
  color: #ffffff;
  margin: 85px 80px 0px 100px;
}
.question-page-detail-text {
  margin: 40px 80px 0px 100px;
  font-family: "Nunito", sans-serif;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #2e3192;
}
.select-container {
  margin-top: 85px;
  margin-right: 100px;
  background-color: #ffffff;
  border-radius: 40px;
  text-align: center;
  padding: 38px 30px 0px 38px;
  height: 550px;
  overflow: auto;
  opacity: 0.9;
  width: 570px;
  background-image: linear-gradient(to bottom, #ffffff00 93%, #ffffff 98%);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.select-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.select-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.select-container-q4 {
  margin-top: 85px;
  margin-right: 100px;
  background-color: #ffffff;
  border-radius: 40px;
  text-align: center;
  padding: 38px 30px 0px 38px;
  height: 320px;
  opacity: 0.95;
  width: 570px;
}
.question-button {
  color: #2e3192;
  text-align: center;
  border-radius: 40px;
  border: solid 1px #2e3192;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 22.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  width: 100%;
  cursor: pointer;
  margin: 0 0 22px;
  padding: 16px 10px 13px 10px;
}
.question-button-selected {
  color: #ffffff;
  text-align: center;
  border-radius: 40px;
  border: solid 1px #2e3192;
  background-color: #2e3192;
  font-family: "Nunito", sans-serif;
  font-size: 22.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  width: 100%;
  cursor: pointer;
  margin: 0 0 22px;
  padding: 16px 10px 13px 10px;  
}

.results-page-display {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 50px;
  margin: 35px 100px;
}

.results-list-container {
  border: solid 0.5px #bcbcbc;
  background-color: #ffffff;
  border-radius: 25px;
  opacity: 0.95;
  text-align: left;
  padding: 30px 30px;
  max-width: 580px;
}

.results-title-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  margin: 0px 10px 10px 0px;
}

.results-list-title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 29px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.13px;
  line-height: 29px;
  color: #2e3192;
  margin: 0;
  margin-top: 10px;
}

.results-list-title-service {
  padding-left: 30px;
}

.results-list-service-description {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.25px;
  line-height: 13px;
  color: #6f7e8b;
  margin: 10px 0px 13px 0px;
}

.results-list-sub-title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0px;
  color: #2e3192;
  line-height: 22px;
  margin: 10px 0px 3px 0px;
}
.results-list-service-detail {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  color: #2e3192;
  line-height: 22px;
  margin: 0;
}

.results-button-container {
  margin-top: 20px;
}

.results-list-button {
  background-color: #2e3192;
  color: #ffffff;
  font-family: "clone-rounded-latin", sans-serif;
  width: 145px;
  height: 38px;
  border: none;
  border-radius: 8px;
  padding: 5px 20px 5px 10px;
  margin: 5px 30px 5px 0px;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  text-align: center;
}

.results-list-button a {
  color: white;
  text-decoration: none;
}

.results-list-logo {
  max-width: 100px;
  max-height: 80px;
  /* height: 100%;
  width: 100%;
  object-fit: contain; */
}
.results-list-needs-tag {
  font-family: "Nunito", sans-serif;
  color: #2e3192;
  font-size: 14.2px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.06px;
  text-align: center;
  border-radius: 19px;
  background-color: #fcd432;
  width: fit-content;
  margin: 30px 0px 9px 0px;
  padding: 6px 15px 6px 15px;
}
.results-list-personalisation-tag {
  font-family: "Nunito", sans-serif;
  color: #2e3192;
  font-size: 14.2px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.06px;
  text-align: center;
  border-radius: 19px;
  background-color: #4ecfff;
  width: fit-content;
  margin: 15px 0px 30px 0px;
  padding: 6px 15px 6px 15px;  
}

.question-text {
  font-family: "Nunito", sans-serif;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.13px;
  text-align: center;
  color: #2e3192;
  margin: 0 40px 8px 40px;
  /* padding5px 40px; */
}

.question-subtext {
  font-family: "Nunito", sans-serif;
  color: #bcbcbc;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 0.33px;
  text-align: center;
  color: #6f7e8b;
  margin: 8px 0px 20px 0px;
}

.next-button {
  font-family: "clone-rounded-latin", sans-serif;
  font-size: 29px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2e3192;
  text-align: center;
  padding: 5px 20px;
  border-radius: 30px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  width: 153px;
  letter-spacing: 0.64px;
  margin-top: 20px;
  margin-right: 100px;
  float: right;
  cursor: pointer;
  margin: 30px 100px 0px 0px;
  padding: 5px 44px 13px 45px;
}

.back-button {
  width: 60px;
  height: 60px;
  color: white;
  margin-top: 16px;
  cursor: pointer;
}

.back-button-results {
  width: 60px;
  height: 60px;
  color: white;
  float: left;
  padding-bottom: 2rem;
  cursor: pointer;
}

/* input[type=text] */
.postcode-select {
  width: 90%;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid #4585bf;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.47px;
  text-align: center;
  color: hsl(0, 0%, 56%);
  margin-top: 45px;
}
::placeholder {
  color: #bcbcbc;
}

/* MOBILE RESPONSIVE RULES */

@media screen and (max-width: 450px) {
  .navbar-container {
    height: 80px;
  }
  .navbar-wrapper {
    margin-top: 23px;
    margin-left: 26px;
    margin-right: 28px;
  }
  .navbar-logo {
    height: 37px;
  }
  .help-button {
    padding: 3px 7px 6px 8px;
    border-radius: 16px;
    border: solid 1px #2e3192;
    background-color: transparent;
    width: 70px;
    font-size: 16px;
    letter-spacing: 0.36px;
    height: 32px;
    justify-self: right;
  }
  .question-one-container {
    background-size: none;
  }
  .question-two-container {
    background-size: none;
  }
  .question-three-container {
    background-size: none;
  }
  .question-four-container {
    background-size: none;
  }
  .results-page-container {
    background-size: none;
  }
  .question-grid-container {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .question-title {
    font-size: 28px;
    line-height: 1.04;
    letter-spacing: 0.62px;
    margin: 40px 20px 5px 20px;
  }
  .question-page-detail-text {
    display: none;
  }
  .select-container {
    margin: 20px 10px 10px 10px;
    border-radius: 25px;
    padding: 20px 5px;
    height: 400px;
  }
  .select-container-q4 {
    margin: 20px 10px 10px 10px;
    border-radius: 25px;
    padding: 20px 5px;
    height: 200px;
  }

  .question-text {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 1.28;
    letter-spacing: 0.08px;
    padding: 0;
  }
  .question-subtext {
    font-size: 14px;
    text-align: center;
    line-height: 2.29;
    letter-spacing: 0.22px;
    margin-bottom: 5px;
  }
  .question-button {
    font-size: 14px;
    letter-spacing: 0.31px;
    padding: 5px 20px;
    border-radius: 25px;
  }
  .question-button-selected {
    font-size: 14px;
    letter-spacing: 0.31px;
    padding: 5px 20px;
    border-radius: 25px;
  }
  .next-button {
    width: 110px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 16px;
    letter-spacing: 0.36px;
  }
  .back-button {
    width: 40px;
    height: 40px;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    padding: none;
  }
  .postcode-select {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 22.5px;

    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.31px;
    text-align: center;
    color: #bcbcbc;
    margin-top: 25px;
  }
  .results-page-display {
    grid-template-columns: 1fr;
    margin: 10px;
  }
  .results-list-container {
    margin: 5px;
    border-radius: 25px;
    padding: 10px 12px;
  }
  .results-list-logo {
    width: 50px;
  }
  .results-list-title {
    font-size: 21px;
    letter-spacing: 0.09px;
    line-height: 22px;
  }
  .results-list-service-description {
    font-size: 12px;
    letter-spacing: 0.19px;
    line-height: 13px;
    color: #6f7e8b;
    margin: 0;
    padding-top: 10px;
  }
  .results-button-container {
    display: flex;
    justify-content: left;
    margin-top: 12px;
  }
  .results-list-button {
    width: auto;
    height: 33px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.36px;
    margin-right: 10px;
  }
  .results-list-sub-title {
    font-size: 12px;
    line-height: 1.33;
    margin: 10px 0px 3px 0px;
  }
  .results-list-service-detail {
    font-size: 12px;
    line-height: 1.33;
  }
  .results-list-needs-tag {
    border-radius: 16px;
    margin: 10px 15px 10px 0px;
    font-size: 12px;
    letter-spacing: 0.05px;
    padding: 0px 15px;
  }
  .results-list-personalisation-tag {
    border-radius: 16px;
    font-size: 12px;
    letter-spacing: 0.05px;
    margin: 10px 15px 10px 0px;
    padding: 0px 15px;
  }
  .back-button-results {
    width: 40px;
    height: 40px;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    padding: none;
  }
}
