@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://use.typekit.net/sfj2qxn.css");

/* font-family:  clone-rounded-latin,   sans-serif;
font-weight:  700;
font-style:  normal;
Clone Rounded Latin Regular
font-family:  clone-rounded-latin,   sans-serif;
font-weight:  400;
font-style:  normal; */

.question-one-container {
  margin: 0;
  background: linear-gradient(#fcd432, #ff6e43);
  min-height: 100vh;
  padding: 15px 10px 75px 10px;
}

.question-two-container {
  margin: 0;
  padding: 15px 10px 75px 10px;
  min-height: 100vh;
  background: linear-gradient(#c974ff, #9026fc);
  /* height: 100vh; */
}

.results-container {
  margin: 0;
  background: linear-gradient(#fcd432, #ff6e43);
  min-height: 100vh;
  padding: 15px 10px 75px 10px;
}
.question-title {
  margin: 0;
  padding: 50px 20px 20px 20px;
  font-family: "clone-rounded-latin", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 29px;
  letter-spacing: 0.6px;
  color: #ffffff;
}
.question-button {
  font-family: "clone-rounded-latin", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2e3192;
  text-align: center;
  letter-spacing: 0.4px;
  padding: 5px 20px;
  border-radius: 20px;
  border: solid 1px #2e3192;
  margin: 5px;
  background-color: #ffffff;
  width: 200px;
}
.question-button-selected {
  font-family: "clone-rounded-latin", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.4px;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  background-color: #2e3192;
  width: 200px;
}

.results-list-container {
  border: solid 0.5px #bcbcbc;
  margin: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: left;
  padding: 15px 10px;
  text-decoration: none;
}

.results-title-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 0px 10px 10px 0px;
}

.results-list-title, p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 21px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.09px;
  line-height: 1.1;
  color: #2e3192;
  margin: 0;
}

.results-list-title-service{
  padding-left: 10px;
  align-items: center;
}

.results-list-service-description {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #BCBCBC;
  line-height: 15px;
  margin: 5px 0px;
}

.results-list-address-title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #2e3192;
  line-height:15px;
  margin: 5px 0px;
}
.results-list-address-detail {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #2e3192;
  line-height:15px;
  margin: 5px 0px;
}
.results-list-button {
  background-color: #2E3192;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 8px 5px 0px;
}



.results-list-button a {
  color: white;
  text-decoration: none;
}

.results-list-logo {
  width: 50px;
}

.select-container {
  border: solid 0.5px #bcbcbc;
  margin: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding: 15px 10px;
}

.question-one-text {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #2e3192;
}

.question-one-subtext {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #bcbcbc;
}

/* css below is for the "next-submit button" */
/* input[type="submit"]  */
.next-button {
  font-family: "clone-rounded-latin", sans-serif;
  font-size: 16px;
  color: #2e3192;
  text-align: Center;
  letter-spacing: 0.4px;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  margin: 35px 0px 10px 0px;
  float: right;
  background-color: #ffffff;
  width: 200px;
}

/* .active {
  background-color: #7fff00;
}
.inactive {
  background-color: #aa0707;
}

input[type="checkbox"]:checked ~ .question-button {
  background-color: #ff6e43;
} */
